DB_NAME=keyboard-simulator
DB_USERNAME=postgres
DB_PASSWORD=root
DB_PORT=5433
DB_VOLUME=C:/opt/keyboard-sim/db

BACKEND_PORT=8081

FRONTEND_PORT=3001

MAILHOG_SMTP_PORT=1026
MAILHOG_FRONTEND_PORT=8026

MINIO_CONSOLE_PORT=9003
MINIO_API_PORT=9002
MINIO_USERNAME=minio
MINIO_PASSWORD=password
MINIO_VOLUME=C:/opt/keyboard-sim/minio
MINIO_REGION=eu-central-1