.total-section {
    background: var(--gray);
    border-radius: 10px;
    padding: 16px;
}

.total-section > .title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 8px;
}

.total-section .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.inner .segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.segment .title {
    font-weight: 600;
}