.account-form-section {
    max-width: 500px;
    width: 50%;
    height: 100%;
    position: relative;
}

.account-form-section .inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
}

.inner .form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}