.info-section {
    flex: 1;
    height: 100%;
    overflow: hidden auto;
    border-right: solid var(--gray) 1px;
    box-sizing: border-box;
}

.info-section .avatar-segment {
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.avatar-segment .avatar {
    align-self: center;
}

.info-section .form {
    margin: 16px;
    display: flex;
    flex-direction: column;
}

.form .edit-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.edit-button:active {
    transform: translateY(calc(1px - 50%));
}
