.password-recovery-page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    box-sizing: border-box;
}

.section {
    max-width: 500px;
    width: 50%;
    height: 100%;
    position: relative;
}

.section .inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inner .back-button {
    align-self: flex-start;
}

.inner .form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form .text {
    color: var(--gray);
}