.about-page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-page .section {

}

.section p {
    color: var(--gray);
}

.section .link {
    color: var(--gray);
    margin: 0 4px;
}