.content-section {
    width: 100%;
    height: calc(100% - var(--header-height) - var(--footer-height));
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}