.button {
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: background .25s ease-in-out;
}

.button.light {
    background: var(--gray);
    color: black;
}

.button.light:disabled {
    background: var(--gray-dark);
}

.button.dark {
    background: var(--black);
    color: var(--gray);
}

.button.dark:disabled {
    background: var(--black-dark);
}

.button.success {
    background: var(--green);
    color: var(--gray);
}

.button.success:disabled {
    background: var(--green-dark);
}

.button.danger {
    background: var(--red);
    color: var(--gray);
}

.button.danger:disabled {
    background: var(--red-dark);
}

.button.warning {
    background: var(--orange);
    color: var(--gray);
}

.button.warning:disabled {
    background: var(--orange-dark);
}

.button.text {
    background: none;
    color: var(--gray);
}

.button:active {
    transform: translateX(1px) translateY(1px);
}

.button:disabled {
    cursor: initial;
}

.button:disabled:active {
    transform: none;
}