.button {
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
}

.button .inner {
    display: flex;
    align-items: center;
}

.button.light {
    background: var(--gray);
    color: black;
}

.button.dark {
    background: var(--black);
    color: var(--gray);
}

.button.success {
    background: var(--green);
    color: var(--gray);
}

.button.danger {
    background: var(--red);
    color: var(--gray);
}

.button.warning {
    background: var(--orange);
    color: var(--gray);
}

.button.text {
    background: none;
    color: var(--gray);
}

.button:active {
    transform: translateX(1px) translateY(1px);
}

.button:disabled {
    cursor: initial;
    background: var(--blue);
}

.button:disabled:active {
    transform: none;
}

.button.loading .inner {
    visibility: hidden;
}

.button.loading .spinner {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translateX(-50%) translateY(-50%);
}