.icon-button {
    background: none !important;
    padding: 4px;
}

.icon-button svg {
    color: inherit;
}

.icon-button.light {
    color: var(--gray);
}

.icon-button.dark {
    color: var(--black);
}